/* ======================IMPORTS==========================*/



/* ===================GENERAL STYLINGS====================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid orange;
}

/* ====================HEADER STYLINGS====================*/



/* ====================MAIN STYLINGS=====================*/



/* ====================FOOTER STYLINGS====================*/
